body {
    max-width: 100vw;
    overflow-x: hidden;
}
/* ############ Navbar*/
nav.container.grid-xl.navbar{
    min-width: 100vw;
    padding: 10px 15px;
    position: sticky;
    top: 0;
    background-color: #131313;
    z-index: 1000;
}
/* ###### Navbar logo*/
a.logo img {
    height: 70px;
}
a.logo {
    width: auto !important;
}
p.m-0.ml-2.text-light.d-inline {
    font-family: 'share tech mono';
    max-width: 180px;
}
/* ###### Navbar Button*/
html body div.header-bg div.container-full div.header nav.container.grid-xl.navbar ul.main-nav li a.btn.btn-lg.btn-outline.py-2, nav .mt-4 {
    display: none;
}

/* ############ Général Layout*/

/* ####### Pages title*/

h2.text-light.text-bold {
    margin-top: 4vw;
}

/* ############ Index Page*/

.header{
    background-image: url("https://www.dropbox.com/s/y3ryp5lgjqxnuu8/dac-index-bg-12.png?raw=1");
    background-size: cover;
}
.index-header-1{
    background-image:none;
    font-size: calc(20px + 3.5vw) !important;
    margin: 0 0 6vh !important;
}
h4.index-header-2{
    color:#333 !important;
    font-family: 'muli' !important;
    font-size: calc(15px + 0.6vw) !important;
    background-color: #fffe !important;
    box-shadow: 0 0 30 #0002 !important;
    border-radius: 7px !important;
    padding: calc(10px + 3.4vw) 4vw calc(10px + 3.4vw) !important;
}
.central-btn {
    padding: 10px 20px;
    font-size: 22px;
    text-transform: uppercase;
    background-color: #316cff;
    color: #fff;
    border-radius: 5px;
    display: inline-block;
    margin: 2vw 0 7vw;
    font-weight: 400;
    transition: 0.3s;
}
.central-btn:hover {
    background-color: #5787ff;
    color: #fff;
    transition: 0.3s;
    transform: scale(1.05)
}
.subheader font {
    color:#316cff;
}
.subheader font[color="#81BEF7"] {
    color:#333;
    font-size: calc(19px + 0.6vw);
    text-transform: uppercase;
    line-height: 2em;
    font-weight: 600;
    transform: translateY(-60px);
    line-height: 0px !important;
}
.subheader hr{
    margin-bottom: 22px;
}
.landing-header {
    padding-top: 60px !important;
}
.card {
    box-shadow: 0 0 30px rgba(0, 51, 92, 0.15) !important;
}
.card:hover {
    box-shadow: 0 0 40px rgba(0, 51, 92, 0.1) !important;
}
.card-body strong {
    color: #000 ;
    font-size: 18px;
}
.card-body a {
    font-weight: 600;
    color: #316cff ;
}
.card-body a:hover {
    text-decoration: underline ;
}
