<div class="header-bg">
  <div class="container-full">
    <div class="header">
      {% include nav.html %}
      <header class="container grid-xl landing-header">
        <div class="columns pt-12 pb-8">
          <div class="column col-11 col-mx-auto text-center">
            <h1 class="mt-2 super-h1 header index-header-1">{{ site.header }}</h1>
            <a href='https://docs.google.com/forms/d/e/1FAIpQLSdiw56eQNGkm5uQt7mlcR32n--J2rwfSgOYpF9eAKThFNv7rA/viewform' class="central-btn">Nous rejoindre</a>
            <h4 class="subheader index-header-2">{{ site.subheader }}</h4>
          </div>
        </div>
      </header>
    </div>
  </div>
</div>